script(src="assets/js/jquery.min.js")
script(src="assets/js/plugins/ymaps-touch-scroll.js")
script(src="assets/js/map.js")
script(src="assets/js/plugins/jquery-ui.min.js")
script(src="assets/js/plugins/inputmask.min.js")
script(src="assets/js/plugins/swiper-bundle.min.js")
script(src="assets/js/plugins/TweenLite.min.js")
script(src="assets/js/plugins/EasePack.min.js")
script(src="assets/js/particles.js")
script(src="assets/js/main.js")