html {
    scroll-behavior: smooth;
  }

body {
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.overflow-hidden {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;

    @include breakpoint(lg) {
        width: 10px;
        height: 10px;
    }
}

::-webkit-scrollbar-thumb {
background: rgba(90, 90, 90, 0.2);
}

::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0.2);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 29px;
    border-radius: 0;
    border: 1px solid #e6e6e6;
    padding: 0;
    background: #fbfbf7;
    font-family: open sans,sans-serif;
    margin: 0;
    font-size: 12px;
    width: 100%;

    &:focus {
        outline: none;
    }
}

#page {
    background: linear-gradient(105.66deg, #074D89 1.71%, #115EA0 95.81%);
    position: relative;
    min-width: 320px;
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;

    @include breakpoint(md) {
        padding: 0 40px;
    }

    @include breakpoint(lg) {
        padding: 0 88px;
    }

    @include breakpoint(hd) {
        box-sizing: content-box;
    }
}

.button-style {
    padding: 11px 32px;
    width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 44px;
    transition: all 0.5s ease;
    box-sizing: border-box;
}

.button-style:hover {
    opacity: .8;
}

.input-style {
    width: 100%;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 30px;
}

.input-style:focus {
    border: 1px solid #D8D8D8;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

input[aria-hidden="true"] {
    display: none;
}

h1 {
    margin: 0 0 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #fff;

    @include breakpoint(md) {
        margin: 0 0 28px;
        font-size: 40px;
        line-height: 43px;
    }

    @include breakpoint(lg) {
        font-size: 65px;
        line-height: 70px;
    }
}

h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    color: #273A4A;

    @include breakpoint(md) {
        font-size: 35px;
        line-height: 39px;
    }

    @include breakpoint(lg) {
        font-size: 40px;
        line-height: 44px;
    }

    @include breakpoint(xl) {
        font-size: 50px;
        line-height: 55px;
    }
}

img {
    transition: all 0.5s ease;
}

img.after-reveal {
    opacity: 0;
}

.text-medium {
    font-size: 15px;
    line-height: 24px;
    color: #575E6A;

    @include breakpoint(md) {
        font-size: 22px;
        line-height: 39px;
    }
}

.page-title {
    padding: 40px 0 20px;

    @include breakpoint(lg) {
        padding: 0 0 40px;
    }
}

.page-title h1 {
    margin: 0;
    font-size: 25px;
    line-height: 27px;

    @include breakpoint(md) {
        font-size: 35px;
        line-height: 38px;
    }

    @include breakpoint(lg) {
        font-size: 50px;
        line-height: 55px;
    }
}

.container-padding {
    padding: 0 20px;

    @include breakpoint(md) {
        padding: 0 40px;
    }

    @include breakpoint(lg) {
        padding: 0 88px;
    }

    @include breakpoint(xl) {
        padding: 0;
    }
}

.triangles {
    position: absolute;
    z-index: 0;
}

.left-line {

    @include breakpoint(lg) {
        position: absolute;
        top: 0;
        left: 65px;
        height: 100%;
        border-right: 1px solid rgba(79, 134, 172, 0.2)
    }

    @include breakpoint(xl) {
        left: 60px;
    }

    @include breakpoint(hd) {
        left: 80px;
    }
}

.head-section {
    position: relative;
}

.radial-background {
    background: radial-gradient(57.28% 57.28% at 50% 86.92%, #1A869C 0%, #084E89 100%);
    height: 137px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;

    @include breakpoint(md) {
        height: 158px;
    }

    @include breakpoint(lgx) {
        height: 258px;
    }

    @include breakpoint(xl) {
        height: 242px;
    }

    @include breakpoint(hd) {
        height: 268px;
    }
}