#occupational-page .services-l-section {
    padding: 100px 0 0;
}

#occupational-page .services-l__wrapper {
    grid-template-areas: 'A1 A2'
                         'A3 A4'
                         'A5 A6';
}

#occupational-page .services-l__block {
    display: flex;
    align-items: center;
    justify-content: center;
}

#occupational-page .services-l__icon {
    background: #3A77B7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 29px;
    line-height: 29px;
    border-radius: 50%;
}

#occupational-page .services-l__text {
    margin: auto 0 0;
    font-size: 22px;
    line-height: 40px;
}

#occupational-page .career-services-bg {
    top: -145px;
    left: -370px;
    right: unset;
    transform: rotate(-35deg);
}