#services-page .hero__text p {
    max-width: 576px;
}

.services-wrap {
    padding: 0 0 80px;
    background: linear-gradient(147.3deg, #C1DDFF 0%, #ECF5FF 71.52%);
}

#services-page .services-l-section {
    padding: 100px 0 0;
}

#services-page .vacancies-form {
    padding: 100px 0;
}

#services-page .vacancies-form__title {
    max-width: 100%;
}

.form-wrapper {
    margin: 72px 0 0;
    display: flex;
    justify-content: space-between;
}

.form-wrapper p {
    width: 47.7%;
    font-size: 18px;
    line-height: 40px;

    @include breakpoint(lg) {
        font-size: 24px;
    }
}

#services-page .vacancy-form {
    width: 47.7%;
}

#services-page .vac-form__btn {
    margin: 40px 0 0;
}

#services-page .vac-form__btn button {
    margin: 0;
}

#services-page .btn-notify {
    margin: 0;
}

