mixin hero(title, subtitle, media, link, button, anchor)

    if page == 'Main'
        canvas#canvas.canvas

    a.arrow-btn(href="#content")
        span.arrow-btn-text SCROLL DOWN
        +sprite('arr','','arrow-btn-element')
        +sprite('arrow-down','','arrow-btn-arrow')

    if breads.length != 0

        include _breadcrumbs
        +breadcrumbs(...breads)

    .hero__wrapper

        .hero__content

            .container

                .hero__logo.wow.animate__animated.animate__fadeInUp(data-wow-delay=".3s")
                    img(src="assets/images/logo-text.png", alt="logo")
                .hero__text.wow.animate__animated.animate__fadeInUp(data-wow-delay=".5s")
                    h1= title
                    p.text-medium=subtitle

                if noHeroBtn != true
                    .hero__button
                        a.hero__button-link(href=anchor)=button

        if media == 'video'
            .hero__image.wow.animate__animated.animate__fadeIn(data-wow-delay=".5s")
                video(src="assets/images/" + link oncontextmenu="return false;" muted loop autoplay)

        else
            .hero__image
                img(src="assets/images/" + link, alt="img")