---
title: Сейсмопоиск | 404 Страница не найдена
noFooter: false
---

extends includes/_page

block main

    #page404

        .page404

            p 404
            span Сраница не найдена
            button(onClick='window.history.back()')
                +sprite('arrow-left')
                span Вернуться назад