---
title: Сейсмопоиск | О компании
breads: [О компании]
noHeroBtn: true
---

extends includes/_page

block main

    #about-page

        section.hero-section
            include components/_hero
            +hero('Сейсмопоиск – одна из ведущих геологоразведочных компаний России международного уровня',
                  'Общество с ограниченной ответственностью «Сейсмопоиск» (ООО «Сейсмопоиск») образовано в 2018 году.',
                   media='image',
                  'about-main.jpg')
            .triangles.triangles-hero
                img(src="assets/images/triangles-2.png", alt="triangles")
                img.hd-only(src="assets/images/triangles-7.png", alt="triangles")

        section.about-info#content

            .container

                .about-info__content
                    .about-info-text
                        img(src="assets/images/seysmopoisk.png", alt="text")

                    .about-info__img-block
                        img(src="assets/images/about-info-1.jpg", alt="img")

                    .about-info__main

                        h2 О  нашей компании
                        p.about-info__text Общество с ограниченной ответственностью «Сейсмопоиск» (ООО «Сейсмопоиск») образовано в 2018 году. Основными видом деятельности являются геолого-разведочные, геофизические и геохимические работы в области изучения недр и воспроизводства минерально-сырьевой базы.

                        .about-info__image
                            img.about-info__img(src="assets/images/about-info-1.jpg", alt="img")

                        h2 Миссия и ценности ООО «Сейсмопоиск»

                        span.about-info__mission Миссия
                        p Общество с ограниченной ответственностью «Сейсмопоиск» (ООО «Сейсмопоиск») образовано в 2018 году. Основными видом деятельности являются геолого-разведочные, геофизические и геохимические работы в области изучения недр и воспроизводства минерально-сырьевой базы.

                        span.about-info__mission Ценности
                        p Общество с ограниченной ответственностью «Сейсмопоиск» (ООО «Сейсмопоиск») образовано в 2018 году. Основными видом деятельности являются геолого-разведочные, геофизические и геохимические работы в области изучения недр и воспроизводства минерально-сырьевой базы.

                .about-info__achievements

                    .achievements-block

                        .achievement-item.big-number
                            span.achievement-sup Более
                            p.achievement-number
                                span 230
                            span.achievement-text геологоразведочных проектов

                        .achievement-item
                            p.achievement-number
                                span 120+
                            span.achievement-text партнёров

                    .achievements-block

                        .achievement-item
                            p.achievement-number
                                span 1000+
                            span.achievement-text сотрудников в штате полевых сейсморазведочных партий

                        .achievement-item
                            p.achievement-number
                                span 5+
                            span.achievement-text года на рынке

                .activity__wrapper
                    .activity

                        .activity__info
                            h2.activity__title Основные направления деятельности:
                            ul.activity__list
                                li.activity__list-item(data-index="01") Выполнение полевых сейсморазведочных работ МОГТ 2D, МОГТ 3D
                                li.activity__list-item(data-index="02") Супервайзинг геофизических и топогеодезических работ
                                li.activity__list-item(data-index="03") Камеральные работы (обработка и интерпретация геофизических данных)
                                li.activity__list-item(data-index="04") Топографо-геодезические работы
                                li.activity__list-item(data-index="05") Буровзрывные работы
                                li.activity__list-item(data-index="06") Транспортные услуги
                                li.activity__list-item(data-index="07") Аренда вездеходной техники

                        .activity__image
                            img(src="assets/images/activity-img.jpg", alt="img")
                        .activity-info-bottom-text.activity-info-text-1
                            img(src="assets/images/about.png", alt="text")
                        .activity-info-bottom-text.activity-info-text-2
                            img(src="assets/images/deyatelnost.png", alt="text")

                    .activity-bg
                        img(src="assets/images/triangles-activity.png", alt="bg")

        section.table-history

            .container

                h2.table-history__title История проектов на полевые сейсморазведочные работы 2018-2020 гг.

                .table-history__container
                    img(src="assets/images/table-history-triangles.png", alt="bg")

                    table.table-history__table

                        thead
                            tr
                                th Площадь
                                th Заказчик
                                th Объем работ
                                th Источник
                                th Регион
                        tbody
                            tr
                                td Выполнение полевых сейсморазведочных работ МОГТ 2D на территории Муторайского и Кимчуканского УН
                                td ООО "ИНК"
                                td 726 пог.км
                                td Импульсный (СЭМ - 100)
                                td Красноярский край

                            tr
                                td Выполнение полевых сейсморазведочных работ МОГТ 2D на территории АРГИШСКОГО УН
                                td ООО "ИНК"
                                td 300 пог.км
                                td Импульсный (СЭМ - 100)
                                td Красноярский край

                            tr
                                td Выполнение полевых сейсморазведочных работ МОГТ 2D на территории МУТОРАЙСКОГО УН
                                td ООО "ИНК"
                                td 264 пог.км
                                td Импульсный (СЭМ - 100)
                                td Красноярский край

                            tr
                                td Выполнение полевых сейсморазведочных работ МОГТ 3D на территории МУНДУКШИНСКОГО УН
                                td АО "ИНК  - Красноярск"
                                td 290 кв.км
                                td Взрывной
                                td Красноярский край

                            tr
                                td Выполнение полевых сейсморазведочных работ МОГТ 3D на территории ПАЙГИНСКОГО УН
                                td ООО "Пайга"
                                td 272 кв.км
                                td Взрывной
                                td Красноярский край

                            tr
                                td Выполнение полевых сейсморазведочных работ МОГТ 2D на территории АРГИШСКОГО УН
                                td АО "Пангея"
                                td 300 пог.км
                                td Импульсный (СЭМ - 100)
                                td Красноярский край

                            tr
                                td Выполнение полевых сейсморазведочных работ МОГТ 2D на территории АРГИШСКОГО УН
                                td ООО "ИНК"
                                td 300 пог.км
                                td Импульсный (СЭМ - 100)
                                td Красноярский край

                            tr
                                td Выполнение полевых сейсморазведочных работ МОГТ 2D на территории Чулаканского участка недр
                                td ООО "Пайга"
                                td 310 пог.км
                                td Импульсный (КЭМ - 4)
                                td Красноярский край

                            tr
                                td Выполнение полевых сейсморазведочных работ МОГТ 2D на территории Западно -Усть - Кутского участка недр
                                td ООО "ИНК"
                                td 825 пог.км
                                td Импульсный (КЭМ - 4)
                                td Иркутская область

                            tr
                                td Выполнение полевых сейсморазведочных работ МОГТ 2D на территории  Тамышского участка недрН
                                td АО "ИНК - Красноярск"
                                td 530 пог.км
                                td 	Импульсный (КЭМ - 4)
                                td Красноярский край

                            tr
                                td Выполнение полевых сейсморазведочных работ МОГТ 3D на территории Большетирского участка недр
                                td АО «ИНК - Запад»
                                td 250 кв.км
                                td Взрывной
                                td Иркутская область

                            tr
                                td Выполнение полевых сейсморазведочных работ МОГТ 3D на территории Мундукшинского уч-ка недр
                                td АО «ИНК - Красноярск»
                                td 137 кв.км
                                td Взрывной
                                td Красноярский край

                            tr
                                td Выполнение полевых сейсморазведочных работ МОГТ 3D на территории Лаушкардинского участка недр
                                td АО «ИНК - Красноярск»
                                td 123 кв.км
                                td Взрывной
                                td Красноярский край

                            tr
                                td Выполнение полевых сейсморазведочных работ МОГТ 2D на территории Нижнеенгидинского участка недр
                                td ООО "ИНК"
                                td 405 пог.км
                                td Импульсный (СЭМ - 100)
                                td Красноярский край

                            tr
                                td Выполнение полевых сейсморазведочных работ МОГТ 2D на территории Западно - Усть - Кутского участка недр
                                td ООО "ИНК"
                                td 825 пог.км
                                td Импульсный (КЭМ - 4)
                                td Иркутская область

                            tr
                                td Выполнение полевых сейсморазведочных работ МОГТ 2D на территории Тамышского участка недр
                                td АО "ИНК - Красноярск"
                                td 530 пог.км
                                td Импульсный (КЭМ - 4)
                                td Красноярский край

        section.about-sections

            .about-section

                .partners-section

                    .container

                        h2.hompage-c-title Наши партнёры
                        p.hompage-c-subtitle Уже 4 года с нами сотрудничают 4 постоянных партнёра. Это говорит о качестве и профессионализме наших услуг

                        .partners__wrapper

                            .partners-bg
                                img(src="assets/images/triangles-5.png", alt="bg")

                            .partners__block

                                .partners__tile
                                    img(src="assets/images/image 28.png", alt="img")
                                .partners__tile
                                    img(src="assets/images/image 29.png", alt="img")
                                .partners__tile
                                    img(src="assets/images/image 30.png", alt="img")
                                .partners__tile
                                    img(src="assets/images/image 31.png", alt="img")
                                .partners__tile
                                    img(src="assets/images/image 28.png", alt="img")
                                .partners__tile
                                    img(src="assets/images/image 31.png", alt="img")
                                .partners__tile
                                    img(src="assets/images/image 30.png", alt="img")
                                .partners__tile
                                    img(src="assets/images/image 29.png", alt="img")

            .projects-sec

                .projects-text
                    img(src="assets/images/proyekty.png", alt="text")

                .container

                    .projects__title

                            h2 С 2018 года успешно завершили работу в разных регионах и округах России
                            p.text-medium Мы являемся крупнейшей компанией в России по полевым сейморазведочным, камеральным работ и супервайзингу.

                    .projects__desc

                        .projects__info
                            div
                                p.projects__info-count 114
                                p.projects__info-text проектов

                            div
                                p.projects__info-count 100+
                                p.projects__info-text партнёров

                            div
                                p.projects__info-count 4
                                p.projects__info-text года на рынке

                        .projects__map-list

                            ul.map__list
                                li.map__list-item
                                    span.map__list-color(style="background-color: #E7DE16;")
                                    span.map__list-text Полевые сейсморазведочные работы
                                li.map__list-item
                                    span.map__list-color(style="background-color: #33E93B;")
                                    span.map__list-text Камеральные работы
                                li.map__list-item
                                    span.map__list-color(style="background-color: #44C7FF;")
                                    span.map__list-text Супервайзинг
                                li.map__list-item
                                    span.map__list-color(style="background-color: #DBDBDB;")
                                    span.map__list-text Перспективные проекты
                                li.map__list-item
                                    span.map__list-color(style="background-color: #555555;")
                                    span.map__list-text Строительство площадок под буровые скважины