---
title: Сейсмопоиск | Пресс-центр
---

extends includes/_page

block main

    #articles-page
        .radial-background

        section.head-section.articles-header
            include components/_breadcrumbs
            +breadcrumbs('Пресс-центр')

            .container

                .page-title
                    h1 Пресс-центр

        section.articles-inner

            .container

                .articles__wrapper

                    a.article__block(href="#" style="background-image: url('assets/images/paul-trienekens-9goYHROaqMo-unsplash 1.jpg')")
                        p.article__date 29.03.2021
                        p.article__desc Выполненили полевые сейсморазведочные работы МОГТ 2D на территории Муторайского и Кимчуканского УН

                    a.article__block(href="#" style="background-image: url('assets/images/raimond-klavins-ICNI2HX2Wvo-unsplash 1.jpg')")
                        p.article__date 29.03.2021
                        p.article__desc Закончили проект по супервайзингу в Краснодарском крае

                    a.article__block(href="#" style="background-image: url('assets/images/raimond-klavins-ICNI2HX2Wvo-unsplash 1.jpg')")
                        p.article__date 29.03.2021
                        p.article__desc Закончили проект по супервайзингу в Краснодарском крае

                    a.article__block(href="#" style="background-image: url('assets/images/raimond-klavins-ICNI2HX2Wvo-unsplash 1.jpg')")
                        p.article__date 29.03.2021
                        p.article__desc Закончили проект по супервайзингу в Краснодарском крае

                    a.article__block(href="#" style="background-image: url('assets/images/raimond-klavins-ICNI2HX2Wvo-unsplash 1.jpg')")
                        p.article__date 29.03.2021
                        p.article__desc Закончили проект по супервайзингу в Краснодарском крае

                    a.article__block(href="#" style="background-image: url('assets/images/raimond-klavins-ICNI2HX2Wvo-unsplash 1.jpg')")
                        p.article__date 29.03.2021
                        p.article__desc Закончили проект по супервайзингу в Краснодарском крае

                    a.article__block(href="#" style="background-image: url('assets/images/raimond-klavins-ICNI2HX2Wvo-unsplash 1.jpg')")
                        p.article__date 29.03.2021
                        p.article__desc Закончили проект по супервайзингу в Краснодарском крае

                    a.article__block(href="#" style="background-image: url('assets/images/raimond-klavins-ICNI2HX2Wvo-unsplash 1.jpg')")
                        p.article__date 29.03.2021
                        p.article__desc Закончили проект по супервайзингу в Краснодарском крае

                    a.article__block(href="#" style="background-image: url('assets/images/raimond-klavins-ICNI2HX2Wvo-unsplash 1.jpg')")
                        p.article__date 29.03.2021
                        p.article__desc Закончили проект по супервайзингу в Краснодарском крае

                    a.article__block(href="#" style="background-image: url('assets/images/raimond-klavins-ICNI2HX2Wvo-unsplash 1.jpg')")
                        p.article__date 29.03.2021
                        p.article__desc Закончили проект по супервайзингу в Краснодарском крае

                    a.article__block(href="#" style="background-image: url('assets/images/raimond-klavins-ICNI2HX2Wvo-unsplash 1.jpg')")
                        p.article__date 29.03.2021
                        p.article__desc Закончили проект по супервайзингу в Краснодарском крае

                .article__pagination

                    .pagination-arrow.inactive
                        +sprite('arrow-left')

                    ul.pagination-list
                        li.active
                            a(href="#") 1
                        li
                            a(href="#") 2
                        li
                            a(href="#") 3
                        li
                            a(href="#") 4
                        li
                            span ...
                        li
                            a(href="#") 20

                    .pagination-arrow
                        +sprite('arrow-right')
