---
title: Сейсмопоиск | Карьера
---

extends includes/_page

block main

    #career-page

        section.career-header

            include components/_breadcrumbs
            +breadcrumbs('Карьера')

            .container

                .page-title
                    h1 Карьера

        section.career-inner

            .container