---
title: Сейсмопоиск | Карьера
breads: [Карьера]
---

extends includes/_page

block main

    #career-page

        section.hero-section
            include components/_hero
            +hero('Карьера',
                  'Мы стремимся создать условия, способствующие повышению эффективности деятельности работников, их вовлеченности в реализацию корпоративных целей.',
                   media='image',
                  'career.jpg',
                  'Присоединиться к команде')

        section.services-l-section

            .container

                .services-l__wrapper#content

                    .services-l__block

                        h3 Все условия<br> для развития<br> профессионалов

                    .services-l__block

                        .services-l__item
                            .services-l__icon
                                +sprite('arrows-up')
                            p.services-l__title Современные методики повышения квалификации
                            p.services-l__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl vulputate convallis nulla bibendum sit pretium vulputate velit.

                    .services-l__block

                        .services-l__item
                            .services-l__icon
                                +sprite('wash-hand')
                            p.services-l__title Внедрение и развитие культуры непрерывных улучшений
                            p.services-l__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl vulputate convallis nulla bibendum sit pretium vulputate velit.

                    .services-l__block

                        .services-l__item
                            .services-l__icon
                                +sprite('arm-muscle')
                            p.services-l__title Социальные гарантии и уверенность в завтрашнем дне
                            p.services-l__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl vulputate convallis nulla bibendum sit pretium vulputate velit.

                    .services-l__block

                        .services-l__item
                            .services-l__icon
                                +sprite('book-thin')
                            p.services-l__title Соблюдение норм трудового законодательства
                            p.services-l__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl vulputate convallis nulla bibendum sit pretium vulputate velit.

                    .services-l__block

                        .career-services-bg.triangles
                            img(src="assets/images/triangles-career-1.png", alt="bg")

        section.career-works

            .container

                .container-padding
                    h2.hompage-c-title.career-works__title Работа, которой мы гордимся
                    p.hompage-c-subtitle.career-works__subtitle Мы являемся крупнейшей компанией в России по полевым сейморазведочным, камеральным работ и супервайзингу.

                .swiper.career-works__swiper

                    .news__swiper-arrows.career-works__arrows
                        .swiper-arrow.swiper-arrow-prev
                            +sprite('arrow-left')
                            img(src="assets/images/left-btn.png", alt="left-btn")
                        .swiper-arrow.swiper-arrow-next
                            +sprite('arrow-right')
                            img(src="assets/images/right-btn.png", alt="right-btn")

                    .swiper-wrapper.career-works__wrapper

                        .swiper-slide
                            img(src="assets/images/unsplash_eF7HN40WbAQ.jpg", alt="img")

                        .swiper-slide
                            img(src="assets/images/unsplash_gMsnXqILjp4.jpg", alt="img")

                        .swiper-slide
                            img(src="assets/images/unsplash_Fsgzm8N0hIY.jpg", alt="img")

                .career-works-review

                    .career-works-inner

                        .career-review__image.container-padding
                            img(src="assets/images/career-img-photo.jpg", alt="img")

                        .career-review__text.container-padding
                            p «Работа в Сейсмопоиске - это возможность реализовать свой профессиональный опыт в глобальных проектах федерального и международного значения»
                            h4 Вострякова Оксана Владимировна​​​​​
                            span Директор ООО «Сейсмопоиск»

                    .activity-bg.career-works-activity-bg
                        img(src="assets/images/triangles-activity.png", alt="bg")

                .career-works-action

                    .career-action__inner

                        p.career-action__title Найди актуальную вакансию<br> и присоединяйся к нашей команде
                        .career-action__btn
                            a(href="vacancies.html") Присоединиться к команде
                    .career-works-mob-bg
                        img(src="assets/images/triangl-careers-mob.png", alt="bg")
                    .career-works-bg
                        img(src="assets/images/triangl-careers.png", alt="bg")
