---
title: Сейсмопоиск | О компании
breads: [Услуги, Сейсморазведочные работы]
---

extends includes/_page

block main

    #complex-page

        section.hero-section
            include components/_hero
            +hero('Сейсморазведочные работы',
                  'Выполнение полевых сейсморазведочных работ МОГТ 2D и МОГТ 3D осуществляется строго в соответствии с проектом на проведение работ.',
                   media='video',
                  'istockphoto-1297515310-640_adpp_is.mp4',
                  'Оставить заявку', '#')