---
title: Сейсмопоиск | Контакты
---

extends includes/_page

block main

    #contact-page

        section.contacts-header

            include components/_breadcrumbs
            +breadcrumbs('Контакты')

            .container

                .page-title
                    h1 Контакты

        section.contacts-inner

            .contacts__wrap

                .container

                    .contacts

                        .contacts__phone
                            +sprite('phone')
                            a(href="tel:+73912001641") +7 (391) 200-16-41

                        .contacts__address
                            +sprite('placemark')
                            span 660015, п.Солонцы, ул.Братьев Непомнящих, д.17

                        .contacts__email
                            +sprite('mail')
                            a(href="mailto:office@seismopoisk.ru") office@seismopoisk.ru

            #yandexMap(style="width: 100%;")
