---
title: Сейсмопоиск | Продиводействие коррупции
breads: [Устойчивое развитие, Продиводействие коррупции]
noHeroBtn: true
---

extends includes/_page

block main

    #corruption-page

        section.hero-section
            include components/_hero
            +hero('Продиводействие коррупции',
                  'Противодействие коррупции является неотъемлемой частью деятельности компании и её культуры – как во взаимодействии с партнерами и частными структурами, так и с органами власти.',
                   media='image',
                  'image324e1.jpg')
            .triangles.triangles-hero
                img(src="assets/images/triangles-2.png", alt="triangles")
                img.hd-only(src="assets/images/triangles-7.png", alt="triangles")

        // EVOLUTION INNER PAGES TEMPLATE
        .e-inner-page

            section#content

                .container

                    .enviro-sec

                        .enviro-sec__img
                            img(src="assets/images/image325e1.jpg", alt="img")

                        .enviro-sec__text
                            h2 Антикоррупционная политика
                            p Антикоррупционная политика является основополагающим документом ООО «Сейсмопоиск» в области противодействия коррупции и содержит: комплекс взаимосвязанных принципов и процедур, мероприятий, предусмотренных актом официального толкования – Методическими рекомендациями по разработке и принятию организациями мер по предупреждению и противодействию коррупции, разработанными Министерством труда и социальной защиты Российской Федерации и утвержденными 8 ноября 2013 года.

                    .enviro-sec

                        .enviro-sec__img
                            img(src="assets/images/image32422.jpg", alt="img")

                        .enviro-sec__text
                            h2 Обучение работников
                            p В Компании осуществляется реализация разносторонних и последовательных мер по предупреждению, устранению (минимизации) причин и условий, порождающих коррупцию, формированию антикоррупционного сознания работников, характеризующегося нетерпимостью к любым формам коррупционных проявлений.
                              br
                              br
                              |Для достижения этой цели нами внедрена система вводного и периодического обучения сотрудников. Она основана на лучших мировых практиках в сфере построения системы противодействия коррупции,.

            section.services-l-section

                .container

                    .services-l__wrapper#content

                        .services-l__block

                            h2 Наши принципы противодействия сотрудников

                        .services-l__block

                            .services-l__item
                                .services-l__icon 01
                                p.services-l__text Соответствие реализуемых антикоррупционных мероприятий Конституции Российской Федерации, заключенным Российской Федерацией международным договорам, законодательству Российской Федерации и иным нормативным правовым актам.

                        .services-l__block

                            .services-l__item
                                .services-l__icon 02
                                p.services-l__text Принцип личного примера руководства заключается в реализации ключевой роли руководства в формировании культуры нетерпимости к коррупции и в создании внутриорганизационной системы предупреждения и пресечения коррупции

                        .services-l__block

                            .services-l__item
                                .services-l__icon 03
                                p.services-l__text Принцип вовлеченности работников заключается в обеспечении информированности работников о положениях антикоррупционного законодательства и их активном участии в формировании и реализации антикоррупционных стандартов и процедур

                        .services-l__block

                            .services-l__item
                                .services-l__icon 04
                                p.services-l__text Принцип постоянного контроля и регулярного мониторинга заключается в осуществлении оценки эффективности внедренных антикоррупционных стандартов и процедур, а также проверок их исполнения

                        .services-l__block

                            .career-services-bg.triangles
                                img(src="assets/images/triangles-career-1.png", alt="bg")

            section.definition-section

                .container

                    h2 Определение коррупции

                    .definition

                        .definition__text
                            p В соответствии со статьей 1 Федерального закона от 25.12.2008 № 273-ФЗ «О противодействии коррупции», коррупцией признаются следующие действия:
                            small а) злоупотребление служебным положением, дача взятки, получение взятки, злоупотребление полномочиями, коммерческий подкуп либо иное незаконное использование физическим лицом своего должностного положения вопреки законным интересам общества и государства в целях получения выгоды в виде денег, ценностей, иного имущества или услуг имущественного характера, иных имущественных прав для себя или для третьих лиц либо незаконное предоставление такой выгоды указанному лицу другими физическими лицами;
                                br
                                br
                                |б) совершение деяний, указанных в подпункте «а» настоящего пункта, от имени или в интересах юридического лица.

                        .definition__block
                            h4 Стокнулись с коррупцией в ООО «Сейсмопоиск»?
                            p Информацию о возможных фактах коррупции в ООО «Сейсмопоиск» можно сообщить позвонив по телефону или написать нам на электронную почту
                            .contact-item
                                +sprite('phone')
                                a(href="tel:83912001285") 8 (391) 200-12-85
                            .contact-item
                                +sprite('mail')
                                a(href="mailto:office@seismopoisk.ru") office@seismopoisk.ru

            .bottom-file
                .container
                    .service__download
                        .file-link
                            .link-icon
                                +sprite('download')
                            a(href="#" download) Федеральный закон от 25.12.2008 N 273-ФЗ (ред. от 26.07.2019) "О противодействии коррупции
                        .file-size PDF 23 МБ