---
title: Сейсмопоиск | Охрана окружающей среды
breads: [Устойчивое развитие, Охрана окружающей среды]
noHeroBtn: true
---

extends includes/_page

block main

    #environmental-page

        section.hero-section
            include components/_hero
            +hero('Охрана окружающей среды',
                  'Бережное отношение к природе, минимизация негативного воздействия производственных операций является одним из важнейших направлений деятельности Сейсмопоиск',
                   media='image',
                  'image4233.jpg')
            .triangles.triangles-hero
                img(src="assets/images/triangles-2.png", alt="triangles")
                img.hd-only(src="assets/images/triangles-7.png", alt="triangles")

        section.environmental-section-1
        section.environmental-section-2