---
title: Сейсмопоиск | Охрана окружающей среды
breads: [Устойчивое развитие, Охрана окружающей среды]
noHeroBtn: true
---

extends includes/_page

block main

    #environmental-page

        section.hero-section
            include components/_hero
            +hero('Охрана окружающей среды',
                  'Бережное отношение к природе, минимизация негативного воздействия производственных операций является одним из важнейших направлений деятельности Сейсмопоиск',
                   media='image',
                  'image4233.jpg')
            .triangles.triangles-hero
                img(src="assets/images/triangles-2.png", alt="triangles")
                img.hd-only(src="assets/images/triangles-7.png", alt="triangles")

        // EVOLUTION INNER PAGES TEMPLATE
        .e-inner-page

            section#content

                .container

                    .enviro-sec

                        .enviro-sec__img
                            img(src="assets/images/img2032.jpg", alt="img")

                        .enviro-sec__text
                            h2 Lorem ipsum dolor sit amet, consectetur
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo enim quis tempor lectus a sit nec. Et ullamcorper nec euismod volutpat diam, a tincidunt nullam sed. Sit id facilisis odio facilisis fermentum. Vel aliquam sapien sapien urna, sed eget varius. Orci, scelerisque tristique amet, vestibulum, id laoreet diam neque. Mauris risus ut vitae leo, tortor, eget vestibulum sem leo. Vulputate enim, vestibulum quisque dui sed pulvinar blandit morbi lacus. Enim, et enim nibh et. Habitant aenean urna neque, urna.

                    .enviro-sec

                        .enviro-sec__img
                            img(src="assets/images/img3732.jpg", alt="img")

                        .enviro-sec__text
                            h2 Lorem ipsum dolor sit amet, consectetur
                            p Euismod pellentesque arcu egestas sed consectetur nulla aliquam elementum ullamcorper. Risus risus blandit gravida nunc duis velit vel netus. In aliquet vulputate massa libero faucibus luctus elit, non. Nunc, enim consectetur in nisl sodales cras. Mattis scelerisque et ornare amet nulla nunc quisque

            section

                .container

                    .activity__wrapper
                        .activity

                            .activity__info
                                h2.activity__title Наши принципы управления природоохранной деятельности
                                ul.activity__list
                                    li.activity__list-item(data-index="01") Соответствие действующему природоохранному законодательству
                                    li.activity__list-item(data-index="02") Принятие предупредительных мер по ликвидации экологических негативных последствий
                                    li.activity__list-item(data-index="03") Обеспечение рационального природопользования
                                    li.activity__list-item(data-index="04") Доступность экологической информации о производственной деятельности
                                    li.activity__list-item(data-index="05") Стремление к достижению и укреплению положительной экологической репутации
                                    li.activity__list-item(data-index="06") Обеспечение благоприятного состояния окружающей среды

                            .activity__image
                                img(src="assets/images/Rectangle244242.jpg", alt="img")
                            .activity-info-bottom-text.activity-info-text-1
                                img(src="assets/images/about.png", alt="text")
                            .activity-info-bottom-text.activity-info-text-2
                                img(src="assets/images/deyatelnost.png", alt="text")

                        .activity-bg
                            img(src="assets/images/triangles-activity.png", alt="bg")

            .bottom-file
                .container
                    .service__download
                        .file-link
                            .link-icon
                                +sprite('download')
                            a(href="#" download) Экологическая политика компании
                        .file-size PDF 23 МБ