---
title: Сейсмопоиск | Устойчивое развитие
breads: [Устойчивое развитие]
noHeroBtn: true
---

extends includes/_page

block main

    #evolution-page

        section.hero-section
            include components/_hero
            +hero('Устойчивое развитие',
                  'Бережное отношение к природе, здоровье сотрудников и борьба с коррупцией являются важнейшими  направлениями деятельности ООО «Сейсмопоиск» ',
                   media='image',
                  'image 33.jpg')
            .triangles.triangles-hero
                img(src="assets/images/triangles-2.png", alt="triangles")
                img.hd-only(src="assets/images/triangles-7.png", alt="triangles")

        section.evolution-section-1#content

            .container

                .projects__about

                    .projects__about-info

                        .projects__about-title

                            h2 Охрана окружающей среды
                            p.text-medium Бережное отношение к природе, минимизация негативного воздействия производственных операций является одним из важнейших направлений деятельности Сейсмопоиск

                        .projects__about-activity

                            p.activity-title Деятельность компании в области охраны окружающей среды:
                            ul.activity-list
                                li.activity-item
                                    +sprite('strokes', '', 'strokes-icon')
                                    span Используем экологичные материалы
                                li.activity-item
                                    +sprite('strokes', '', 'strokes-icon')
                                    span
                                    span Правильно утилизируем опасные отходы
                                li.activity-item
                                    +sprite('strokes', '', 'strokes-icon')
                                    span
                                    span Не используем ядовитые материалы
                            a.activity-more(href="#") Узнать больше
                                +sprite('arrow-right', '', 'arrow-right-link')
                    .projects__about-activity-bg
                        img(src="assets/images/triangles-2.png", alt="bg")

                    .projects__image

                        .projects__about-image
                            img(src="assets/images/agriculture-iot-with-rice-field-background 1.jpg", alt="img")

                        .projects__about-bg
                            img(src="assets/images/triangles-2.png", alt="bg")

                        .text-about
                            img(src="assets/images/safety-1-text.png", alt="text")

        section.evolution-section-2

            .container

                .projects__about

                    .projects__about-info

                        .projects__about-title

                            h2 Охрана труда
                            p.text-medium Мы стремимся к обеспечению системного подхода к управлению охраной труда и промышленной безопасностью и ведем серьезную работу по повышению культуры безопасности

                        .projects__about-activity
                            .projects__about-activity-wrapper
                                p.activity-title Деятельность компании в области охраны труда:
                                ul.activity-list
                                    li.activity-item
                                        +sprite('strokes', '', 'strokes-icon')
                                        span Обеспечение высокой культуры производства, создание безопасных условий труда и сохранение жизни и здоровья работников;
                                    li.activity-item
                                        +sprite('strokes', '', 'strokes-icon')
                                        span
                                        span Создание и поддержание в управляемых условиях системы охраны труда, способствующей соблюдению установленных законодательных и нормативных требований, повышению качества выполняемых работ, удовлетворению требований потребителя, а в конечном итоге – достижению лидирующей позиции в отрасли.
                                a.activity-more(href="#") Узнать больше
                                    +sprite('arrow-right', '', 'arrow-right-link')

                            .projects__about-bg
                                img(src="assets/images/img242442.png", alt="bg")

                    .projects__image

                        .projects__about-image
                            img(src="assets/images/agriculture-iot-with-rice-field-2d 1.jpg", alt="img")

                        .text-about
                            img(src="assets/images/safety-text-2.png", alt="text")

        section.evolution-section-3

            .container

                .projects__about

                    .projects__about-info

                        .projects__about-title

                            h2 Продиводействие коррупции
                            p.text-medium Противодействие коррупции является неотъемлемой частью деятельности компании и её культуры – как во взаимодействии с партнерами и частными структурами, так и с органами власти.

                        .projects__about-activity

                            p.activity-title Деятельность компании в области противодействия коррупции:
                            ul.activity-list
                                li.activity-item
                                    +sprite('strokes', '', 'strokes-icon')
                                    span Используем экологичные материалы
                                li.activity-item
                                    +sprite('strokes', '', 'strokes-icon')
                                    span
                                    span Правильно утилизируем опасные отходы
                                li.activity-item
                                    +sprite('strokes', '', 'strokes-icon')
                                    span
                                    span Не используем ядовитые материалы
                            a.activity-more(href="#") Узнать больше
                                +sprite('arrow-right', '', 'arrow-right-link')

                    .projects__image

                        .projects__about-image
                            img(src="assets/images/agriculture-iot-with-rice-field-b3.jpg", alt="img")

                        .projects__about-bg
                            img(src="assets/images/yzqsdti7hje3hknk6i8qip7z4ygyytj0.png", alt="bg")

                        .text-about
                            img(src="assets/images/bwnt05fn3yxs7c1915cp3yyqi5tqvfsu.png", alt="text")