---
title: Сейсмопоиск | История компании
---

extends includes/_page

block main

    #history-page

        section.head-section.history-header
            include components/_breadcrumbs
            +breadcrumbs('О нас', 'История компании')

            .container

                .page-title
                    h1 История компании

        section.history-inner

            .container

                .history

                    .history__wrapper

                        .history__year
                            h3 2021

                        .history__list

                            .history__block
                                .history__date
                                    p 25.12
                                .history__content
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl vulputate convallis nulla bibendum sit pretium vulputate velit.

                            .history__block
                                .history__date
                                    p 12.06
                                .history__content
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl vulputate convallis nulla bibendum sit pretium vulputate velit.
                                    .history__images
                                        img(src="assets/images/unsplash_NdZ08c-zu0c.jpg", alt="img")

                            .history__block
                                .history__date
                                    p 15.04
                                .history__content
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl vulputate convallis nulla bibendum sit pretium vulputate velit.

                            .history__block
                                .history__date
                                    p 06.02
                                .history__content
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl vulputate convallis nulla bibendum sit pretium vulputate velit.

                    .history__wrapper

                        .history__year
                            h3 2020

                        .history__list

                            .history__block
                                .history__date
                                    p 25.12
                                .history__content
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl vulputate convallis nulla bibendum sit pretium vulputate velit.

                            .history__block
                                .history__date
                                    p 12.06
                                .history__content
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl vulputate convallis nulla bibendum sit pretium vulputate velit.
                                    .history__images
                                        img(src="assets/images/unsplash_Zyx1bK9mqmA.jpg", alt="img")
                                        img(src="assets/images/unsplash_QckxruozjRg.jpg", alt="img")

                            .history__block
                                .history__date
                                    p 15.04
                                .history__content
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl vulputate convallis nulla bibendum sit pretium vulputate velit.

                            .history__block
                                .history__date
                                    p 06.02
                                .history__content
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl vulputate convallis nulla bibendum sit pretium vulputate velit.
