---
title: Сейсмопоиск | Руководство компании
---

extends includes/_page

block main

    #management-page
        .radial-background

        section.head-section.management-header
            include components/_breadcrumbs
            +breadcrumbs('О нас', 'Руководство')

            .container

                .page-title
                    h1 Руководство компании

        section.management-content

            .container

                .managements

                    .management__block.management__block--main
                        .management__image
                            img(src="assets/images/management-1.jpg", alt="img")

                        .management__info
                            p.management__title Директор
                            p.management__name Вострякова Оксана Владимировна​​​​​
                            p.management__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus tristique blandit massa mi tempor faucibus vulputate sed etiam. Dignissim tempus diam augue consectetur proin purus quam. Egestas placerat ipsum commodo varius eget morbi pulvinar ullamcorper.

                    .management__block
                        .management__image
                            img(src="assets/images/management-2.jpg", alt="img")

                        .management__info
                            p.management__title Главный бухгалтер
                            p.management__name Карнаухова Наталья Юрьевна
                            p.management__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus tristique blandit massa mi tempor

                    .management__block
                        .management__image
                            img(src="assets/images/management-3.jpg", alt="img")

                        .management__info
                            p.management__title Главный инженер
                            p.management__name Шелбогашев Олег Валерьевич
                            p.management__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus tristique blandit massa mi tempor

                    .management__block
                        .management__image
                            img(src="assets/images/management-4.jpg", alt="img")

                        .management__info
                            p.management__title Главный геофизик
                            p.management__name Чирков Николай Игоревич
                            p.management__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus tristique blandit massa mi tempor
