---
title: Сейсмопоиск | О компании
breads: [Услуги]
---

extends includes/_page

block main

    #services-page

        section.hero-section
            include components/_hero
            +hero('Комплекс услуг',
                  'Современная материально-техническая база ООО "Сейсмопоиск" позволяет решать комплексные задачи различного уровня сложности.',
                   media='video',
                  'istockphoto-1193628350-640_adpp_is.mp4',
                  'Консультация по услугам', '#form')


        .services-wrap

            section.services-l-section

                .container

                    .services-l__wrapper

                        .services-l__block
                            .services-l-text
                                img(src="assets/images/uslugi.png", alt="text")

                        .services-l__block
                            a.services-l__item(href="#")
                                .services-l__image
                                    img(src="assets/images/nick-van-den-berg-tpyh8Eu7LgQ-unsplash_2.jpg", alt="img")
                                .services-l__icon
                                    img(src="assets/images/truck.svg", alt="svg")
                                p.services-l__title Сейсморазведочные работы
                                p.services-l__text Выполнение полевых сейсморазведочных работ МОГТ 2D и МОГТ 3D осуществляется строго в соответствии с проектом на проведение работ.

                        .services-l__block
                            a.services-l__item(href="#")
                                .services-l__image
                                    img(src="assets/images/image-engineering-objects-workplace-top-view-construction-concept-engineering-tools-vintage-tone-retro-filter-effect-soft-focus-selective-focus.jpg", alt="img")
                                .services-l__icon
                                    +sprite('plan-building')
                                p.services-l__title Камеральные работы
                                p.services-l__text Обработка и интерпретация геофизических данных. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit est eros, viverra magna lacinia.

                        .services-l__block
                            a.services-l__item(href="#")
                                .services-l__image
                                    img(src="assets/images/closeup-contractor-construction-site-pointing-plan-wooden-sleeper.jpg", alt="img")
                                .services-l__icon
                                    +sprite('construction-project')
                                p.services-l__title Супервайзинг сейсморазведочных работ
                                p.services-l__text Необходимость супервайзерского контроля в современных условиях объясняется высокой стоимостью проведения геолого-разведочных работ

                        .services-l__block
                            a.services-l__item(href="#")
                                .services-l__image
                                    img(src="assets/images/raimond-klavins-ICNI2HX2Wvo-unsplash_1.jpg", alt="img")
                                .services-l__icon
                                    +sprite('ecologic')
                                p.services-l__title Экологическое проектирование
                                p.services-l__text Осуществляем разработку: паспортов отходов, проекта НДВ, водохозяйственного баланса, схем систем водоснабжения и водоотведения

                        .services-l__block
                            .services-l__block-bg
                                img(src="assets/images/triangles.png", alt="bg")

            // FORM
            #form.vacancies-form

                .container

                    .vacancies-form__container

                        h2.vacancies-form__title Бесплатная консультация по нашим услугам

                        .form-wrapper

                            p Запоните короткую форму ниже, мы свяжемся с вами в ближайшее время, бесплатно проконсультируем, ответим на все вопросы и оформим заявку на оказание услуги

                            form.vacancy-form

                                .vac-form__row
                                    .vac-form__input
                                        input(type="text" id="" name="" placeholder="Имя*" required)

                                .vac-form__row
                                    .vac-form__input
                                        input(type="email" id="" name="" placeholder="Почта*" required)

                                .vac-form__row
                                    .vac-form__input
                                        input(type="tel" id="" name="" placeholder="Телефон*" required)

                                .vac-form__btn
                                    button Оставить заявку
                                    span.btn-notify Нажимая кнопку, Вы соглашаетесь<br>с условиями пользовательсткого соглашения

                                .vac-form__bg
                                    img(src="assets/images/triangl-careers.png", alt="bg")


            .success-modal.hide

                .success-container

                    .success-close-icon
                        #successClose.success-close
                            +sprite('close-icon')
                        img.close-img(src="assets/images/close-white.png", alt="icon")

                    .success-icon
                        +sprite('checkmark')
                    p.success-text Ваша заявка отправлена