---
title: Сейсмопоиск | Операционная структура
---

extends includes/_page

block main

    #structure-page

        section.structure-header

            include components/_breadcrumbs
            +breadcrumbs('О нас', 'Операционная структура')

            .container

                .page-title
                    h1 Операционная структура

        section.structure-inner

            .container

                // STRUCTURE MOBILE
                .structure-mobile

                    .structure-row.row-1

                        .structure__block
                            p Генеральный директор

                    .structure-row.row-2

                        .structure__block
                            p 1 отдел

                        .structure__block
                            p Советник 1,2

                        .structure__block
                            p.mob-only Сл. Безопасн.
                            p.mob-sm-only Служба безопасности

                    .structure-row.row-3

                        .structure__block
                            p.mob-only Бухг-р
                            p.mob-sm-only Бухгалтер

                        .structure__block
                            p.mob-only Главный бухг-р
                            p.mob-sm-only Главный бухгалтер

                        .structure__block
                            p.mob-only Админ-хоз отдел
                            p.mob-sm-only Админ-хозяйственный отдел

                    .structure-row.row-4

                        .structure__block
                            span
                            p Исполнительный директор

                    .structure-row.row-5

                        .structure__block
                            p.mob-only 1 зам. директора
                            p.mob-sm-only Первый заместитель директора

                        .structure__block
                            p ОП Монголия (доч. общ.)

                    .structure-row.row-6

                        .structure__block
                            p Главный инженер

                        .structure__block
                            p Зам. дир. по прав. вопросам и персоналу

                    .structure-row.row-7

                        .structure__block
                            p Упр. строит-ва скважин и супервизия

                    .structure-row.row-8

                        .structure__block
                            p Эконом. отдел

                        .structure__block
                            p.mob-only Упр. по эконом. и финанс.
                            p.mob-sm-only Управление по экономике и финансам

                        .structure__block
                            p Финанс. отдел

                    .structure-row.row-9

                        .structure__block
                            p.mob-only Карьер (доч. общ.)
                            p.mob-sm-only Карьер (дочернее общество)


                    .structure-row.row-10

                        .structure-col-wrapper

                            .structure-col

                                ul.structure-col-list
                                    li Отдел главного геофизика
                                    li Производ-техн. отдел
                                    li Отд. охраны труда, промыш. без-ти, и охраны окруж. ср.
                                    li Отдел главного механика
                                    li Отдел материал-технич. обеспеч.
                                    li База<br> производ-ного обеспечения

                            .structure-col-bg
                                img(src="assets/images/triangle-structure-mobile.png", alt="bg")

                        .structure-col

                            ul.structure-col-list
                                li Тендерный отдел
                                li Юр. отдел
                                li Отдел труда и заработной платы
                                li Отдел кадров
                                li Отдел информационных технологий

                    .structure-row.row-11

                        .structure__block
                            p Сейсморазведочные партии

                // STRUCTURE TABLET & DESKTOP
                .structure

                    .structure__row.structure__row--first

                        .structure__block.dashed-line-top.h20
                            .dot.t-dot
                            .structure__item.structure__item--green
                                +sprite('s-1')
                                p 1 отдел

                        .structure__block.dashed-line-right
                            .dot.r-dot
                            .structure__item.structure__item--green
                                +sprite('s-2')
                                p Советник

                        .structure__block.dashed-line-top.h20.max-width-line-1
                            .dot.l-dot
                            .dot.r-dot
                            .structure__item.structure__item--blue-gradient
                                +sprite('s-3')
                                p Генеральный<br>директор

                        .structure__block.dashed-line-left
                            .dot.l-dot
                            .structure__item.structure__item--green
                                +sprite('s-2')
                                p Советник

                        .structure__block.dashed-line-top.h20
                            .dot.t-dot
                            .structure__item.structure__item--green
                                +sprite('s-4')
                                p Служба безопасности

                    .structure__row.structure__row--second

                        .structure__block.dashed-line-right.h21
                            .dot.r-dot
                            .structure__item.structure__item--cyan
                                +sprite('s-5')
                                p Бухгалтер

                        .structure__block.dashed-line-top.h15
                            .dot.t-dot
                            .structure__item.structure__item--cyan-gradient
                                +sprite('s-6')
                                p Главный<br>бухгалтер

                        .structure__block.dashed-line-top.max-width-line-2

                        .structure__block.dashed-line-top.h15
                            .dot.t-dot
                            .structure__item.structure__item--green
                                +sprite('s-7')
                                p.display-md Админ-хозяйственный отдел
                                p.display-lgx Административно-хозяйственный<br>отдел

                        .structure__block

                    .structure__row.structure__row--third

                        .structure__block.dashed-line-right.h21
                            .dot.r-dot
                            .structure__item.structure__item--transparent
                                +sprite('s-8')
                                p Главный<br>инженер

                        .structure__block.dashed-line-right.w21
                            .dot.r-dot
                            .structure__item.structure__item--blue
                                +sprite('s-9')
                                p Первый<br>заместитель<br>директора

                        .structure__block.dashed-line-top.h174.dashed-line-bottom.h14
                            .dot.t-dot
                            .structure__item.structure__item--green-gradient
                                +sprite('s-10')
                                p.display-md Исполн-ый директор
                                p.display-lgx Исполнительный директор

                        .structure__block.dashed-line-left.w21.dashed-line-top.max-width-line-5
                            .dot.l-dot
                            .structure__item.structure__item--blue
                                +sprite('s-11')
                                p ОП Монголия (дочернее<br> общество)

                        .structure__block.dashed-line-bottom.h14
                            .dot.b-dot
                            .structure__item.structure__item--transparent
                                +sprite('s-12')
                                p.display-hd-min Зам. дир. по прав. вопросам<br>и персоналу
                                p.display-hd Заместитель директора по правовым вопросам<br>и персоналу

                    .structure__row.structure__row--fourth

                        .structure__block

                        .structure__block.dashed-line-right.w21.max-height-line-1
                            .dot.r-dot
                            .structure__item.structure__item--blue-low
                                +sprite('s-13')
                                p Экономический<br>отдел

                        .structure__block.dashed-line-top.h16.max-width-line-4
                            .dot.t-dot.mr-15
                            .structure__item.structure__item--blue-low-gradient
                                +sprite('s-14')
                                p Управление по<br> экономике <br>и финансам

                        .structure__block.dashed-line-left.w21.dashed-line-top.max-width-line-6
                            .dot.l-dot
                            .structure__item.structure__item--blue-low
                                +sprite('s-15')
                                p Финансовый<br>отдел

                        .structure__block.dashed-line-right.max-height-line-3

                    .structure__row.structure__row--fifth.dashed-line-top

                        .structure__list
                            ul.structure-col-list
                                li Отдел главного геофизика
                                li Производственнотехнический отдел
                                li Отдел охраны труда, промышленной безопасности, и охраны окружающей среды
                                li Отдел главного механика
                                li Отдел материальнотехнического обеспечения
                                li База производственного обеспечения

                        .structure__col

                            .structure__block.dashed-line-top.h15.dashed-line-top.max-width-line-3
                                .dot.t-dot
                                .structure__item.structure__item--blue
                                    +sprite('s-16')
                                    p Карьер (дочернее общество)

                            .structure__block.dashed-line-right.w15.max-height-line-2
                                .dot.r-dot
                                .structure__item.structure__item--blue
                                    +sprite('s-17')
                                    p.display-hd-min Упр. строит-ва скважин и супервизия
                                    p.display-hd Упр. строительства скважин и супервизия

                        .structure__list
                            ul.structure-col-list
                                li Тендерный отдел
                                li Юридический отдел
                                li Отдел труда и заработной платы
                                li Отдел кадров
                                li Отдел информационных технологий

                        .structure-col-bg-hd
                            img(src="assets/images/triangle-structure.png", alt="bg")

                    .structure__row.structure__row--sixth

                        .structure__block

                        .structure__block.dashed-line-top.h30
                            .dot.t-dot
                            .structure__item.structure__item--transparent
                                +sprite('s-18')
                                p Сейсморазве-<br>дочные партии

                        .structure__block
                        .structure__block
                        .structure__block