---
title: Сейсмопоиск | Вакансия
---

extends includes/_page

block main

    #vacancy-page

        section.vacancies-header

            include components/_breadcrumbs
            +breadcrumbs('Карьера', 'Вакансии', 'Вакансия')

            .container

                .page-title
                    h1 Вакансия

        section.vacancies-inner

            .vacancy

                .container

                    h2 Практика для студентов
                        p Приглашаем пройти производственную практику в ООО «Сейсмопоиск»:

                    h3 Обязанности
                    ul
                        li Студент средне-специального образования
                        li Студент высшего образования

            // FORM
            .vacancies-form

                .container

                    .vacancies-form__container

                        h2.vacancies-form__title Подать заявку для прохождения производственной практики

                        form.vacancy-form

                            .vac-form__row
                                .vac-form__input
                                    input(type="text" id="" name="" placeholder="Имя*" required)

                                .vac-form__input
                                    input(type="text" id="" name="" placeholder="Фамилия*" required)

                            .vac-form__row
                                .vac-form__input
                                    input(type="text" id="" name="" placeholder="Отчество*" required)

                                .vac-form__input
                                    input(type="text" id="" name="" placeholder="Учебное заведение*" required)

                            .vac-form__row
                                .vac-form__input
                                    input(type="text" id="" name="" placeholder="Специальность*" required)

                                .vac-form__input
                                    input(type="email" id="" name="" placeholder="Почта*" required)

                            .vac-form__row
                                .vac-form__input.mob-hide
                                    textarea(type="text" id="" name="" placeholder="Комментарий")

                                .vac-form__column

                                    .vac-form__input
                                        input(type="tel" id="" name="" placeholder="Телефон*" required)

                                    span.label-date Срок прохождения практики

                                    .vac-form__row
                                        .vac-form__input.input-date
                                            input(type="text" id="" name="" onmouseover="(this.type='date')")
                                            label
                                                +sprite('calendar')
                                        .vac-form__input.input-date
                                            input(type="text" id="" name="" onmouseover="(this.type='date')")
                                            label
                                                +sprite('calendar')

                                    .vac-form__input.desktop-hide
                                        textarea(type="text" id="" name="" placeholder="Комментарий")

                                    .vac-form__btn
                                        button Оставить заявку
                                        span.btn-notify Нажимая кнопку, Вы соглашаетесь<br>с условиями пользовательсткого соглашения


                            .vac-form__bg
                                img(src="assets/images/triangl-careers.png", alt="bg")


        .success-modal.hide

            .success-container

                .success-close-icon
                    #successClose.success-close
                        +sprite('close-icon')
                    img.close-img(src="assets/images/close-white.png", alt="icon")

                .success-icon
                    +sprite('checkmark')
                p.success-text Ваша заявка отправлена
